.memoButton{
    height: 15vh;
    width: 10vw;
    margin-left: 1rem;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    background-color: var(--background);
}

.textContainer{
    background-color: white;
    font-size: 28px;
    margin-top: 2.5rem;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
}