.memoButton{
    height: 125px;
    width: 125px;
    margin-left: 1rem;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 4px;
    background-color: var(--background);
    display: flex;
}

.textContainer{
    background-color: #cecece;
    font-size: 28px;
    margin-top: 25px;
    border-radius: 3px;
    margin-left: 1px;
    margin-right: 1px;
    height: 90px;
    display: flex;

}

