<div class="memoButtonContainer">
    <button class="memoButton" (click)="toggleMemoButton()">
        <div class="textContainer">
            <div class="textWrapper">Open Memo</div>
        </div>
    </button>
    
    <div class="optionsContainer">
        <div class="memoOptions" [@openClose]="isOpen ? 'open' : 'closed'">
            <mat-grid-list class="gridList" cols="2" rowHeight="1:1" gutterSize="0px">
                <mat-grid-tile>
                    <div class="memoOptionsButton" (click)="setBoardState('memo0')">
                        <img mat-card-image src="/assets/memo/0_off.png" class="gameCardImage" layout-fill>	
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="memoOptionsButton" (click)="setBoardState('memo1')">
                        <img mat-card-image src="/assets/memo/1_off.png" class="gameCardImage" layout-fill>	
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="memoOptionsButton" (click)="setBoardState('memo2')">
                        <img mat-card-image src="/assets/memo/2_off.png" class="gameCardImage" layout-fill>	
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="memoOptionsButton" (click)="setBoardState('memo3')">
                        <img mat-card-image src="/assets/memo/3_off.png" class="gameCardImage" layout-fill>	
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>    
</div>
