<div class="board-container">
    <mat-grid-list cols="6" rowHeight="1:1" gutterSize="10px">
      <mat-grid-tile class='tile' *ngFor="let card of cards; let idx=index" (click)="flipCard(idx)">
        <mat-card class="gameCard" [ngClass]="{ 'flipped': card.isFlipped }">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img mat-card-image src="/assets/blanktile.svg" class="gameCardBack" layout-fill>
                </div>
                <div class="flip-card-back">
                    <img mat-card-image src="/assets/icons/large-1.svg" class="gameCardFront" layout-fill>
                </div>
            </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  