<div class="board-container">
    <mat-grid-list class="gridList" cols="6" rowHeight="1:1" gutterSize="10px">
      <mat-grid-tile class='tile' *ngFor="let card of cards; let idx=index" (click)="onCardClick(idx)">
        <mat-card class="gameCard" *ngIf="card.type=='flip'" [ngClass]="{ 'flipped': card.isFlipped }" 
         >
         
            <div class="flipCardInner">
                <div class="flipCardFront">
                    <img mat-card-image src="{{card.frontImage}}" class="frontImage" layout-fill>
                    <div class="overlayMemo0" *ngIf="card.bombMemo">
                        <mat-icon svgIcon="memo0"></mat-icon>
                    </div>
                    <div class="overlayMemo1" *ngIf="card.oneMemo">
                        <mat-icon svgIcon="memo1"></mat-icon>
                    </div>
                    <div class="overlayMemo2" *ngIf="card.twoMemo">
                        <mat-icon svgIcon="memo2"></mat-icon>
                    </div>
                    <div class="overlayMemo3" *ngIf="card.threeMemo">
                        <mat-icon svgIcon="memo3"></mat-icon>
                    </div>
                </div>
                <div class="flipCardBack">
                    <img mat-card-image src="{{card.backImage}}" class="backImage" layout-fill>
                </div>
            </div>
        </mat-card>
        <mat-card class="infoCard" *ngIf="card.type=='info'">
            <mat-card-content class="infoContainer" *ngIf="idx<30" [ngStyle]="{background: colorArray[((idx+1)/6)-1]}">
                <div class="pointWrapper">
                    {{getRowSums(idx).rowSum}}
                </div>
                <div class="bombInfoContainer">
                    <img mat-card-image class="bombImage" src="{{card.frontImage}}">
                    {{getRowSums(idx).bombSum}}
                </div>
            </mat-card-content>
            <mat-card-content class="infoContainer" *ngIf="idx>=30" [ngStyle]="{background: colorArray[idx-30]}">
                <div class="pointWrapper">
                    {{getColSums(idx).colSum}}
                </div>
                <div class="bombInfoContainer">
                    <img mat-card-image class="bombImage" src="{{card.frontImage}}">
                    {{getColSums(idx).bombSum}}
                </div>
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  