.gameContainer{
    background-color: var(--background);
    width: 100vw;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    .gameContainer{
        background-color: var(--background);
        width: 100vw;
        height: calc(100vh - 56px);
        display: flex;
        justify-content: center;
    }
}