.gameContainer{
    background-color: var(--background);
    width: 100vw;
    height: calc(100vh - 64px);
    display: flex;
    justify-content: center;
}

.memoButton{
    display: flex;
    margin-top: 1rem;
    justify-content: end;
}

@media screen and (max-width: 400px) {
    .gameContainer{
        background-color: var(--background);
        width: 100vw;
        height: calc(100vh - 56px);
        display: inline-block;
        flex-direction: column;
    }

    .memoButton{
        display: flex;
        margin-top: 1rem;
        justify-content: start;
    }
}