.scoreBoardContainer{
    height: 125px;
    width: 125px;
    margin-left: 1rem;
    margin-right: 10px;
    border-color: #186c55;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--background);
    display: flex;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding: 0;
    align-items: end;
    box-shadow: 0 0 0 4px #000000;
}

.textContainer{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(173,173,173,1) 71%);
    display: flex;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    flex-direction: column;

}

.textWrapper{
    font-family: "Pixelify Sans",sans-serif;
    color: #ffffff;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-size: 17px;
    margin-bottom: 2px;
}

.totalCoinsContainer{
    width: 100%;
    float: left;
}

.currentCoinsContainer{
    width: 100%;
    float: left;
}